<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Space48_CertifiedShops>
			<version>0.1.0</version>
		</Space48_CertifiedShops>
	</modules>
	<global>
		<models>
			<space48_certifiedshops>
				<class>Space48_CertifiedShops_Model</class>
			</space48_certifiedshops>
		</models>
		<blocks>
			<space48_certifiedshops>
				<class>Space48_CertifiedShops_Block</class>
			</space48_certifiedshops>
		</blocks>
		<helpers>
			<space48_certifiedshops>
				<class>Space48_CertifiedShops_Helper</class>
			</space48_certifiedshops>
		</helpers>
	</global>
	<frontend>
		<routers>
			<certifiedshops>
				<use>standard</use>
				<args>
					<frontName>certifiedshops</frontName>
					<module>Space48_CertifiedShops</module>
				</args>
			</certifiedshops>
		</routers>
		<layout>
			<updates>
				<space48_certifiedshops>
					<file>space48/certifiedshops.xml</file>
				</space48_certifiedshops>
			</updates>
		</layout>
	</frontend>
	<default>
		<google>
			<space48_certifiedshops>
				<google_shopping_country>GB</google_shopping_country>
				<google_shopping_language>en</google_shopping_language>
				<locale>en_GB</locale>
				<default_estimated_shipping>2</default_estimated_shipping>
				<default_estimated_delivery>4</default_estimated_delivery>
			</space48_certifiedshops>
		</google>
	</default>
</config>